.popup__button-avatar {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    margin: 0 36px 18px 36px;
    padding: 0;
    border: none;
    transition: opacity 0.2s;
    cursor: pointer;
}

.popup__button-avatar:hover {
    opacity: 0.8;
}

@media screen and (max-width: 540px) {
    .popup__button-avatar {
        font-size: 14px;
        line-height: 17px;
        width: 238px;
        height: 46px;
        margin: 15px 22px 25px;
    }
}