.header__logo {
    width: 142px;
    height: 33px;
    margin: 0;
    padding-bottom: 41px;
}

@media screen and (max-width: 620px) {
    .header__logo {
        width: 104px;
        height: 25px;
        padding-bottom: 32px;
        margin-left: 8px;
        display: flex;
        align-content: center;
    }
}