.profile__author {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    max-width: 294px;
    margin: 0;
    padding-right: 18px;
    padding-bottom: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 914px) {
    .profile__author {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 620px) {
    .profile__author {
        padding-right: 10px;
        font-size: 27px;
        line-height: 33px;
        max-width: 189px;
    }
}
